<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grupoSemillero">
            <h2><span jhiTranslate="ciecytApp.grupoSemillero.detail.title">Grupo Semillero</span> {{grupoSemillero.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ciecytApp.grupoSemillero.nombre">Nombre</span></dt>
                <dd>
                    <span>{{grupoSemillero.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.grupoSemillero.tipo">Tipo</span></dt>
                <dd>
                    <span>{{grupoSemillero.tipo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grupo-semillero', grupoSemillero.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
