<div>
    <h2 id="page-heading">
        <span jhiTranslate="ciecytApp.grupoSemillero.home.title">Grupo Semilleros</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grupo-semillero" [routerLink]="['/grupo-semillero/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ciecytApp.grupoSemillero.home.createLabel">
            Create new Grupo Semillero
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="grupoSemilleros">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ciecytApp.grupoSemillero.nombre">Nombre</span></th>
            <th><span jhiTranslate="ciecytApp.grupoSemillero.tipo">Tipo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grupoSemillero of grupoSemilleros ;trackBy: trackId">
                <td><a [routerLink]="['/grupo-semillero', grupoSemillero.id, 'view' ]">{{grupoSemillero.id}}</a></td>
                <td>{{grupoSemillero.nombre}}</td>
                <td>{{grupoSemillero.tipo}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/grupo-semillero', grupoSemillero.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/grupo-semillero', grupoSemillero.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'grupo-semillero', { outlets: { popup: grupoSemillero.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
