<div>
    <h2 id="page-heading">
        <span jhiTranslate="ciecytApp.fichaTecnica.home.title">Ficha Tecnicas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ficha-tecnica" [routerLink]="['/ficha-tecnica/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ciecytApp.fichaTecnica.home.createLabel">
            Create new Ficha Tecnica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fichaTecnicas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ciecytApp.fichaTecnica.tituloProfecional">Titulo Profecional</span></th>
            <th><span jhiTranslate="ciecytApp.fichaTecnica.tituloPosgrado">Titulo Posgrado</span></th>
            <th><span jhiTranslate="ciecytApp.fichaTecnica.experencia">Experencia</span></th>
            <th><span jhiTranslate="ciecytApp.fichaTecnica.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fichaTecnica of fichaTecnicas ;trackBy: trackId">
                <td><a [routerLink]="['/ficha-tecnica', fichaTecnica.id, 'view' ]">{{fichaTecnica.id}}</a></td>
                <td>{{fichaTecnica.tituloProfecional}}</td>
                <td>{{fichaTecnica.tituloPosgrado}}</td>
                <td>{{fichaTecnica.experencia}}</td>
                <td>
                    {{fichaTecnica.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ficha-tecnica', fichaTecnica.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ficha-tecnica', fichaTecnica.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ficha-tecnica', { outlets: { popup: fichaTecnica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
