<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fichaTecnica">
            <h2><span jhiTranslate="ciecytApp.fichaTecnica.detail.title">Ficha Tecnica</span> {{fichaTecnica.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ciecytApp.fichaTecnica.tituloProfecional">Titulo Profecional</span></dt>
                <dd>
                    <span>{{fichaTecnica.tituloProfecional}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.fichaTecnica.tituloPosgrado">Titulo Posgrado</span></dt>
                <dd>
                    <span>{{fichaTecnica.tituloPosgrado}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.fichaTecnica.experencia">Experencia</span></dt>
                <dd>
                    <span>{{fichaTecnica.experencia}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.fichaTecnica.user">User</span></dt>
                <dd>
                    {{fichaTecnica.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ficha-tecnica', fichaTecnica.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
