<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="elementosProyecto">
            <h2><span jhiTranslate="ciecytApp.elementosProyecto.detail.title">Elementos Proyecto</span> {{elementosProyecto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ciecytApp.elementosProyecto.dato">Dato</span></dt>
                <dd>
                    <span>{{elementosProyecto.dato}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.elementosProyecto.proyecto">Proyecto</span></dt>
                <dd>
                    <div *ngIf="elementosProyecto.proyecto">
                        <a [routerLink]="['/proyecto', elementosProyecto.proyecto?.id, 'view']">{{elementosProyecto.proyecto?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ciecytApp.elementosProyecto.elementos">Elementos</span></dt>
                <dd>
                    <div *ngIf="elementosProyecto.elementos">
                        <a [routerLink]="['/elementos', elementosProyecto.elementos?.id, 'view']">{{elementosProyecto.elementos?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/elementos-proyecto', elementosProyecto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
