<div>
    <h2 id="page-heading">
        <span jhiTranslate="ciecytApp.impactosEsperados.home.title">Impactos Esperados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-impactos-esperados" [routerLink]="['/impactos-esperados/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ciecytApp.impactosEsperados.home.createLabel">
            Create new Impactos Esperados
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="impactosEsperados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ciecytApp.impactosEsperados.impacto">Impacto</span></th>
            <th><span jhiTranslate="ciecytApp.impactosEsperados.plazo">Plazo</span></th>
            <th><span jhiTranslate="ciecytApp.impactosEsperados.indicador">Indicador</span></th>
            <th><span jhiTranslate="ciecytApp.impactosEsperados.supuestos">Supuestos</span></th>
            <th><span jhiTranslate="ciecytApp.impactosEsperados.proyecto">Proyecto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let impactosEsperados of impactosEsperados ;trackBy: trackId">
                <td><a [routerLink]="['/impactos-esperados', impactosEsperados.id, 'view' ]">{{impactosEsperados.id}}</a></td>
                <td>{{impactosEsperados.impacto}}</td>
                <td>{{impactosEsperados.plazo}}</td>
                <td>{{impactosEsperados.indicador}}</td>
                <td>{{impactosEsperados.supuestos}}</td>
                <td>
                    <div *ngIf="impactosEsperados.proyecto">
                        <a [routerLink]="['../proyecto', impactosEsperados.proyecto?.id, 'view' ]" >{{impactosEsperados.proyecto?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/impactos-esperados', impactosEsperados.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/impactos-esperados', impactosEsperados.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'impactos-esperados', { outlets: { popup: impactosEsperados.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
