<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="proyecto">
            <h2><span jhiTranslate="ciecytApp.proyecto.detail.title">Proyecto</span> {{proyecto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ciecytApp.proyecto.titulo">Titulo</span></dt>
                <dd>
                    <span>{{proyecto.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.url">Url</span></dt>
                <dd>
                    <span>{{proyecto.url}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.lugarEjecucion">Lugar Ejecucion</span></dt>
                <dd>
                    <span>{{proyecto.lugarEjecucion}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.duracion">Duracion</span></dt>
                <dd>
                    <span>{{proyecto.duracion}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.fechaIni">Fecha Ini</span></dt>
                <dd>
                    <span>{{proyecto.fechaIni}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.fechaFin">Fecha Fin</span></dt>
                <dd>
                    <span>{{proyecto.fechaFin}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.contrapartidaPesos">Contrapartida Pesos</span></dt>
                <dd>
                    <span>{{proyecto.contrapartidaPesos}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.contrapartidaEspecie">Contrapartida Especie</span></dt>
                <dd>
                    <span>{{proyecto.contrapartidaEspecie}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.palabraClave">Palabra Clave</span></dt>
                <dd>
                    <span>{{proyecto.palabraClave}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.convocatoria">Convocatoria</span></dt>
                <dd>
                    <span>{{proyecto.convocatoria}}</span>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.lineaDeInvestigacion">Linea De Investigacion</span></dt>
                <dd>
                    <div *ngIf="proyecto.lineaDeInvestigacion">
                        <a [routerLink]="['/linea-de-investigacion', proyecto.lineaDeInvestigacion?.id, 'view']">{{proyecto.lineaDeInvestigacion?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.grupoSemillero">Grupo Semillero</span></dt>
                <dd>
                    <div *ngIf="proyecto.grupoSemillero">
                        <a [routerLink]="['/grupo-semillero', proyecto.grupoSemillero?.id, 'view']">{{proyecto.grupoSemillero?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.facultad">Facultad</span></dt>
                <dd>
                    <div *ngIf="proyecto.facultad">
                        <a [routerLink]="['/facultad', proyecto.facultad?.id, 'view']">{{proyecto.facultad?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ciecytApp.proyecto.modalidadDeGrado">Modalidad De Grado</span></dt>
                <dd>
                    <div *ngIf="proyecto.modalidadDeGrado">
                        <a [routerLink]="['/modalidad-de-grado', proyecto.modalidadDeGrado?.id, 'view']">{{proyecto.modalidadDeGrado?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/proyecto', proyecto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
