<div>
    <h2 id="page-heading">
        <span jhiTranslate="ciecytApp.tipoPregunta.home.title">Tipo Preguntas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-pregunta" [routerLink]="['/tipo-pregunta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ciecytApp.tipoPregunta.home.createLabel">
            Create new Tipo Pregunta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoPreguntas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ciecytApp.tipoPregunta.tipoPregunta">Tipo Pregunta</span></th>
            <th><span jhiTranslate="ciecytApp.tipoPregunta.tipoDato">Tipo Dato</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoPregunta of tipoPreguntas ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-pregunta', tipoPregunta.id, 'view' ]">{{tipoPregunta.id}}</a></td>
                <td>{{tipoPregunta.tipoPregunta}}</td>
                <td>{{tipoPregunta.tipoDato}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tipo-pregunta', tipoPregunta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-pregunta', tipoPregunta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-pregunta', { outlets: { popup: tipoPregunta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
